<!DOCTYPE html>
<html>
<head>
  <title>Favorites</title>
  <meta charset="utf-8">
  <link href="css/main.css" rel="stylesheet">
  <link  href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'> 
</head>
<img id="triangle" src="triangle.jpg">
<body>
  <header>
    <h1>Favorite Things</h1>
    <nav>
      <a href="index">Home</a>
      <a href="about">About Me</a>
      <a href="projects">Projects</a>
      <a href="blog">My Blog</a>
    </nav>
  </header>

  <article>
    <p>
      Here are some of my favorite things at the moment:
    </p>
    <p>
      <strong>Favorite Song: 2AM - Dandy Lion Remix</strong>
    </p>
    <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2Iq8sshB8qY44fLvJxrR8d" width="500" height="380" frameborder="0" allowtransparency="true"></iframe>
  </article>
  <p>
    <strong>Favorite Movie: Lars and the Real Girl</strong>
  </p>
    <iframe width="500" height="280" src="https://www.youtube.com/embed/XNcs9DrKYRU" frameborder="0" allowfullscreen></iframe>
  <p>
    <strong>Favorite TV Show: Broad City</strong>
  </p>
    <iframe width="500" height="280" src="https://www.youtube.com/embed/3tDN5DYsNk0" frameborder="0" allowfullscreen></iframe>
  <p>
    <strong>Favorite Picture: Apollo 13 Moon Landing</strong>
  </p>
  <img src="moon.jpg" width="500" />
  <p>
    <strong>Gif of the Day</strong>
  </p>
  <img src="halloween.gif" width="500" />


</body>
<footer>
  <p>
    Built in October 2015
  </p>
</footer>
</html>
