  <article>
    <p>
      Here are some of my favorite things at the moment. First, here's a random GIF from a collection of my favorites (I couldn't pick just one...):
    </p>
    <p>
      <strong>Gif of the Moment</strong>
    </p>
      <% if @selected_gif[-1] == "f" %>
        <img class="fav_thing" src= <%= @selected_gif %>>
      <% else %>
        <video class="fav_thing" autoplay="autoplay" preload="auto" loop="loop">
          <source src=<%= @selected_gif %> type="video/webm" ></source>
        </video>
      <% end %>
    <p>
      <strong>Favorite Song: 2AM - Dandy Lion Remix</strong>
    </p>
    <iframe id="spotify" src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2Iq8sshB8qY44fLvJxrR8d" frameborder="0" allowtransparency="true"></iframe>
  </article>
  <p>
    <strong>Favorite Movie: Lars and the Real Girl</strong>
  </p>
    <iframe class="fav_thing"  src="https://www.youtube.com/embed/XNcs9DrKYRU" frameborder="0" allowfullscreen></iframe>
  <p>
    <strong>Favorite TV Show: Broad City</strong>
  </p>
    <iframe class="fav_thing"  src="https://www.youtube.com/embed/3tDN5DYsNk0" frameborder="0" allowfullscreen></iframe>
  <p>
    <strong>Favorite Picture: Apollo 13 Moon Landing</strong>
  </p>
  <img src="moon.jpg" class="fav_thing" />
