


  <section>
    <h2>Welcome to my website! </h2>
    <p>Take a look around. Here's some other pages to explore:</p>
    <ul>
      <li>Want to learn more about me? Visit <a href="about">About Me</a></li>
      <li>Want to learn about some projects I've done? Visit <a href="projects">Projects</a></li>
      <li>Want to read some of my musings? Visit <a href="blog">Blog</a></li>
      <li>Bored? Want to just watch some videos and listen to some music? Visit <a href="fav_things">My Favorite Things</a></li>
    </ul>
  </section>

  <section>
    <h3>Not interested?</h3>
    <p>That's okay. Here's a picture of my dog.</p>
    <img class="kepler_home_pic" src="img/kepler.jpg" alt="Dog picture">
  </section>
