


  <section>

    <h2>Welcome! </h2>
    <p>Here's my story so far:</p>
    <p>Right now, I'm a student at Ada Developers Academy in Seattle, WA learning how to be a software developer.</p>
    <p>Prior to Ada, I was working at Microsoft as a Mechanical Engineer on Surface and as a Program Manager on Windows (OEM Hardware). I have also interned at Microsoft (on the Windows Fundamentals team and the Windows App Ecosystem team), Synapse Product Development, and Molex. </p>
    <p> I received my bachelors degree in Mechanical Engineering from Olin College of Engineering in 2013. My senior capstone at Olin was with the Army Research Laboratory.  My teammates and I designed and manufactured an autonomous ground vehicle to be used for mapping and swarm behavior algorithmic research. </p>
    <p>In my free time, I enjoy playing with my dog, going camping, grabbing a drink, and watching hockey.</p>
    <p>Want to learn more? Take a look around. Here's some other pages to explore:</p>
    <ul>
      <li>Want to learn more about me? Visit <a href="about">About Me</a></li>
      <li>Want to learn about some projects I've done? Visit <a href="projects">Projects</a></li>
      <li>Want to read some of my musings? Visit <a href="blog">Blog</a></li>
      <li>Bored? Want to just watch some videos and listen to some music? Visit <a href="fav_things">My Favorite Things</a></li>
    </ul>
  </section>


  <div class ="profile_icons">

    <a  class="font_awesome" href="https://github.com/noglows" aria-label="Visit my GitHub"><i aria-label="Visit my GitHub" class="fa fa-github-square fa-5x"></i></a>

    <a class="font_awesome" href="https://twitter.com/nojessicaglows" aria-label="Visit my Twitter"><i aria-label="Visit my GitHub" class="fa fa-twitter-square fa-5x"></i></a>

    <a class="font_awesome" href="https://www.linkedin.com/in/jessicanoglows" aria-label="Visit my LinkedIn"><i aria-label="Visit my GitHub" class="fa fa-linkedin-square fa-5x"></i></a>

  </div>

  <section>
    <h3>Not interested?</h3>
    <p>That's okay. Here's a picture of my dog.</p>
    <img class="kepler_home_pic" src="img/kepler.jpg" alt="Dog picture">
  </section>
