/*
 * This is a CSS file.
 * Inside of CSS files comments are started with /* and ended with:
 */

/*
 * Starting with Wave 2 of this project we will be using CSS to style our
 * web pages. You should place all of your styles in this file and then
 * reference it from each of your HTML files.
 */

/*
 * This file is located at "public/main.css" in your project directory.
 * Because it is in the "public" directory, Sinatra knows to make the file
 * accessible to your HTML files when you use the src="path/to/file"
 * attribute on the appropriate tags.
 *
 * For example, to include an image into your site, place the file in the
 * public directory and use <img src="/name_of_image.png"> in your HTML
 * file. The "public" part of the path should *not* be included.
 */


/* Common for all pages */

 body {
   font-family: Roboto, sans-serif;
   font-weight: 300;
   width: 700px;
   margin-left: 300px;
 }

h1 {
  text-align: center;
  font-size: 50px;
}

nav {
  /*margin-left: 100px; */
  margin-bottom: 50px;
}

nav a {
  display: inline-block;
  padding-left: 20px;
  width: 20%;
  text-align: center;

}

footer {
  margin-top:100px;
}

/* Specific to index */

.center_pic {
  width: 700px;
  display: block;
  /*margin: 0 auto;*/
}

/* Specific to About page */



table {
    margin-left: 20%;
    border-collapse: collapse;
    width: 400px;
}

td, th {
    padding: 8px 15px;
    text-align: right;
}

td:first-child, th:first-child {
    text-align: left;
    padding-left: 0;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child, th:last-child {
    padding-right: 0;
}

th {
    border-bottom: 1px solid #aaa;
}

td {
    border-bottom: 1px solid #ddd;
}


#pets_table td, th{
  text-align:left;
}

#pets_table td:last-child, th:last-child{
  text-align:right;
}
