/*
 * This is a CSS file.
 * Inside of CSS files comments are started with /* and ended with:
 */

/*
 * Starting with Wave 2 of this project we will be using CSS to style our
 * web pages. You should place all of your styles in this file and then
 * reference it from each of your HTML files.
 */

/*
 * This file is located at "public/main.css" in your project directory.
 * Because it is in the "public" directory, Sinatra knows to make the file
 * accessible to your HTML files when you use the src="path/to/file"
 * attribute on the appropriate tags.
 *
 * For example, to include an image into your site, place the file in the
 * public directory and use <img src="/name_of_image.png"> in your HTML
 * file. The "public" part of the path should *not* be included.
 */


/* Common for all pages */

 body {
   font-family: Roboto, sans-serif;
   font-weight: 300;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
 }

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

nav {
  /*margin-left: 100px; */
  margin-bottom: 40px;
}

nav a {
  color: #0D0D0D;
  display: inline-block;
  padding-left: 10px;
  width: 22%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

nav a:visited {
  color: #787878;
}

nav a:hover {
  color: rgb(152,177,52);
  text-decoration: none;
}

footer {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-color: #0D0D0D;
  margin-top:80px;
  margin-left: -160px;
  margin-right: -160px;
  text-align: center;
}

header {
  background-color: #FBFBFB;
  padding-bottom: 2px;
  padding-top: 2px;
}

.font_awesome {
  color: black;
}

.profile_icons {
  width: 300px;
  margin: 0 auto;
}

.profile_icons a {
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.prof_icons_other {
  margin-top: 80px;
}


/* Specific to index */

.kepler_home_pic {
  width: 700px;
  display: block;
  /*margin: 0 auto;*/
}



#triangle {
  width: 100px;
  margin-left: 300px;
  margin-top: -10px;
}

/* Specific to fav things */
.fav_thing {
  width: 500px;
  height: 280px;
}

#spotify {
  width: 300px;
  height: 380px;
}

/* Specific to Projects page */
.project_video {
  margin: 10px;
  margin-left:50px;
  width: 480px;
  height: 270px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}

/* Specific to About page */



table {
    margin-left: 20%;
    border-collapse: collapse;
    width: 400px;
}

td, th {
    padding: 8px 15px;
    text-align: left;
}

td:first-child, th:first-child {
    text-align: left;
    padding-left: 0;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child, th:last-child {
    padding-right: 0;
    text-align: right
}

th {
    border-bottom: 1px solid #aaa;
}

td {
    border-bottom: 1px solid #ddd;
}

.table_icon {
  width: 30px;
  height: 30px;
}


#pets_table td, th{
  text-align:left;
}

#pets_table td:last-child, th:last-child{
  text-align:right;
}

#pets_table {
  margin-bottom: 50px;
}

#instagram_feed {
  width: 500px;
  height: 300px;
}
